In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("email_classification.csv")
df.head()

                                               email label
0  Upgrade to our premium plan for exclusive acce...   ham
1  Happy holidays from our team! Wishing you joy ...   ham
2  We're hiring! Check out our career opportuniti...   ham
3  Your Amazon account has been locked. Click her...  spam
4  Your opinion matters! Take our survey and help...   ham

In [3]:
df.isnull().sum()

email    0
label    0
dtype: int64

In [4]:
df['label'].value_counts()

label
ham     100
spam     79
Name: count, dtype: int64

In [5]:
df.shape

(179, 2)

In [7]:
tf=pd.read_csv('spam.csv',encoding='latin1')
tf.shape

(5572, 5)

In [8]:
tf.head

<bound method NDFrame.head of         v1                                                 v2 Unnamed: 2  \
0      ham  Go until jurong point, crazy.. Available only ...        NaN
1      ham                      Ok lar... Joking wif u oni...        NaN
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...        NaN
3      ham  U dun say so early hor... U c already then say...        NaN
4      ham  Nah I don't think he goes to usf, he lives aro...        NaN
...    ...                                                ...        ...
5567  spam  This is the 2nd time we have tried 2 contact u...        NaN
5568   ham              Will ÃŒ_ b going to esplanade fr home?        NaN
5569   ham  Pity, * was in mood for that. So...any other s...        NaN
5570   ham  The guy did some bitching but I acted like i'd...        NaN
5571   ham                         Rofl. Its true to its name        NaN

     Unnamed: 3 Unnamed: 4
0           NaN        NaN
1           NaN        NaN
2           NaN        NaN
3           NaN        NaN
4           NaN        NaN
...         ...        ...
5567        NaN        NaN
5568        NaN        NaN
5569        NaN        NaN
5570        NaN        NaN
5571        NaN        NaN

[5572 rows x 5 columns]>

In [15]:
pf=pd.read_csv("emails.csv")
pf.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

In [16]:
pf.isnull().sum()

text    0
spam    0
dtype: int64

In [17]:
pf.shape

(5728, 2)

In [20]:
pf['spam'].value_counts()

spam
0    4360
1    1368
Name: count, dtype: int64